body{
    margin:0;
}
#Controller {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Sprites/Backgrounds/BattleBackground.png");
    image-rendering: pixelated;
    background-size: cover;
    background-position: center center;
}