canvas {
    image-rendering: pixelated;
}
.SideMenu {
    text-align: center;
    width: 18%;
    border-style: solid;
    border-width: 4px;
    border-color: blue;
}

button {
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 40%;
    padding-top: 40%; 
    margin: 0 auto;
    display:inline-block;
}

.ButtonTypes {
    padding: 0;
}

.TypeImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

img {
    image-rendering: pixelated;
}

#PartSelection {
    height: 98%;
    position: absolute;
    left: 0;
    top: 0;
}

#TypeSelection {
    height: 70%;
    position: absolute;
    right: 0;
    top: 0;
}

#Rbuttons {
    height: 28%;
    position: absolute;
    right: 0;
    bottom: 0;
}
