/*
yellow 244 181 68
magen242 35 241
33 61 183
*/
body{
    background: url("../Sprites/Backgrounds/ScanLineTile.png");
    background-size:62px 62px;
    image-rendering: pixelated;
    overflow: hidden;
}
canvas {

    image-rendering: pixelated;
}
.SideMenu {
    box-sizing:border-box;
    height:100%;
    position:absolute;
    text-align: center;
    width: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(33, 61, 183);
    overflow: auto;
}

button {
    background:transparent;
    margin:5px;
    border:none;
    overflow: hidden;
    position: relative;
    width: 40%;
    padding-top: 40%; 
}

#TypeSelection .ButtonTypes {
    padding: 0;
    margin:10px 30px;
    width:130px;
    height:130px;
}

.TypeImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

img {
    image-rendering: pixelated;
}

#PartSelection button{
    margin:10px 30px;
    width:130px;
    height:130px;
}
#PartSelection {
    border-left:none;
    border-top:none;
    border-bottom:none;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#TypeSelection {
    border-top:none;
    border-bottom:none;
    border-right:none;
    width:240px;
    height: 70%;
    position: absolute;
    right: 0;
    top: 0;
}

#Rbuttons {
    width:240px;
    border-top:none;
    border-bottom:none;
    border-right:none;
    height: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}
